<?php
// スクリプト設置ディレクトリ
define ('SCRIPT_DIR', './') ;

define ('SLACK_API_TOKEN', '') ;

define ('YAHOO_J_APP_ID', '') ;

define ('GOOGLE_API_KEY', '') ;

define ('GOOGLE_SEARCH_ID', '') ;

define ('BOT_USER_ID', '') ;

?>
